<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
</head>
 
<body>
 
<header>
  <nav id="nav" class="level">
      <div class="level-item">
        <a class="subtitle <%= (typeof is_trending_listings_page !== 'undefined') ? 'has-text-dark' : 'has-text-link' %>" href="/">
          Trending Listings
        </a>
      </div>
      <div class="level-item">
        <a href="/">
          <img src="/images/etsy_logo_sm_rgb.png" alt="Etsy"/>
        </a>
      </div>
      <div class="level-item">
        <a class="subtitle <%= (typeof is_favorite_listings_page !== 'undefined') ? 'has-text-dark' : 'has-text-link' %>"  href="/favorites">
          My Favorites
        </a>
      </div>
  </nav>
</header>

<div class="container">
 
    <section class="section">
        <%- body %>
    </section>

    <section class="section">
      <a href="https://codeascraft.com/">#C0DEA5CF</a>
    </section>
 
</div>

<script src="/js/base.js"></script>
 
</body>
</html>
