<nav class="pagination" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    <!-- Previous page link -->
    <li>
      <a href="/?page=<%= current_page + 1 %>" class="pagination-link" <%= current_page == 0 ? 'disabled' : '' %>>«</a>
    </li>
    <!-- Loop through pages and create page links -->
    <% for (var page = 1; page <= pages; page++ ) { %>
      <li>
        <a 
          href="/?page=<%= page %>"
          data-page="<%= page %>"
          class="pagination-link <%= current_page == page ? 'is-current' : '' %>" 
          aria-label="Goto page <%= page %>">
            <%= page %>
          </a>
      </li>
    <% } %>
    <!-- Next page link -->
    <li>
      <a href="/?page=<%= current_page - 1 %>" class="pagination-link" <%= current_page == pages ? 'disabled' : '' %>>»</a>
    </li>
  </ul>
</nav>